<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de producto</h3>
    <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group mb-3">
            <label>Nombre : </label>
            <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="producto.nombre"  required>
        </div>

        <div class="form-group mb-3">
            <label>Precio : </label>
            <input type="number" id="precio" name="precio" class="form-control" [(ngModel)]="producto.precio"  required/>
        </div>
        <button class="btn btn-success">Actualizar</button>
    </form>
</div>